@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.section-pera {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
}



/* nav section styles */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 {
    display: flex;
    text-align: center;
}

.nav1-img {
    width: 85px;
    height: 40px;
    padding-top: 40px;
    padding-left: 150px;
    padding-bottom: 40px;
    padding-right: 20px;
}

.nav1-title {
    padding-top: 13px;
    padding-bottom: 13px;
}

.g {
    color: #FF42A5;
    font-size: 2.8rem;
    font-weight: 700;
}

.amer {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav2 {
    display: flex;
    text-align: center;
    gap: 20px;
}

.nav2 p {
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav2-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 50px;
    margin-right: 70px;
}

.youtube, .insta {
    width: 30px;
    height: 24px;
}

.nav2-btn-det {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}



/* main part style */

/* goat part */
.goat-part-1 {
    width: 800px;
    height: 800px;
    background-image: url('../images/Group\ 14.png');
    text-align: center;
    padding-top: 5px;
    padding-right: 60px;
}

.goat-part-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 140px;
    margin-bottom: 3px;
}

.goat {
    font-size: 5.4rem;
    font-weight: 800;
    color: mediumvioletred;
    margin-top: 0px;
    margin-bottom: 3px;
}

.play, .download, .people {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.play {
    margin-right: 150px;
}

.download {
    margin-right: 188px;
}

.people {
    margin-right: 35px;
    margin-bottom: 40px;
}

.singin-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;

}

.GoRogue-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

.goat-img {
    width: 570px;
    height: 600px;
    padding-top: 100px;
    padding-right: 50px;
}

.goat-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* online games part */
.online-part-1 {
    text-align: center;
}

.funny {
    color: mediumvioletred;
    font-size: 48px;
    font-weight: 700;
}

.online-part-1 .section-title {
    padding-top: 120px;
    margin-bottom: 0px;
}

.online-img-pera {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
}

.online-part-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 70px;
}

.on-img-1, .on-img-2, .on-img-3, .on-img-4 {
    width: 300px;
}

.img-1 {
    padding: 5px 20px 20px 35px;
}

.img-2 {
    padding: 5px 20px 20px 0px;
}

.img-3 {
    padding: 0px 20px 20px 0px;
}

.img-4 {
    padding: 5px 35px 20px 0px;
}



/* play instantly section */
#play {
    color: mediumvioletred;
}
.play-instantly{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 0px;
}

.play-instantly-part1 {
    text-align: center;
    padding-bottom: 250px;
}

.play-instantly-part1 .section-title {
    margin-bottom: 40px;
}

.play-instantly .play-instantly-part1 .section-pera {
    padding-left: 60px;
    padding-right: 60px;
}

.instant-kabjab .play-instantly-img{
    height: 90%;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-right: 70px;
}

.next-img {
    bottom: 100%;
    width: 340px;
    padding: 40px;
    position: relative;
    bottom: 270px;
}


/* game types section */
.gametypes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gameflex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 0px;

}















/* responsive media section */
/* for mobile */
@media screen and (max-width:430px) {

    /* nav part */
    nav {
        flex-direction: column;
        box-shadow: none;
        padding-top: 70px;
    }

    .nav1-img {
        padding: 25px 15px 5px 5px;
    }

    .nav1-title {
        padding: 0px;
    }

    .nav2 {
        flex-direction: column;
    }

    .nav2-btn {
        margin-right: 0px;
    }


    /* goat part */
    .goat-part {
        flex-direction: column-reverse;
    }

    .goat-img {
        width: 400px;
        height: 500px;
        padding: 200px 60px 0px 60px;
    }

    .goat-part-title {
        padding-top: 30px;
        padding-left: 60px;
    }

    .goat {
        padding-left: 70px;
    }

    .play, .download, .people {
        padding-left: 100px;
    }

    .singin-btn {
        margin-left: 60px;
    }

    /* online game part */
    .online-part-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-1 {
        padding: 5px 20px 20px 50px;
    }

    .on-img-1 {
        width: 300px;
        padding: 0px 5px 0px 5px;
    }

    .img-2 {
        padding: 5px 0px 20px 50px;
    }

    .img-3 {
        padding: 5px 60px 20px 50px;
    }

    .img-4 {
        padding: 5px 0px 20px 50px;
    }

    .online-part-1 .section-title {
        padding-top: 0px;
    }


    /* play instantly part */
    .play-instantly{
        flex-direction: column;
        margin-top: 0px;
        padding-top: 0px;
    }
    .play-instantly-part1{
        margin-top: 50px;
        margin-bottom: -90px;
    }
    .play-instantly-img{
        width: 350px;
        height: 700px;
        padding-top: 0px;
        padding-right: 0px;
        flex-direction: column;
    }
    .instant-kabjab{
        margin: 0px;
        padding: 0px;

    }
    .play-instantly-part1{
        padding-bottom: 0px;
    }
    .next-img-1{
        width: 200px;
        padding: 100px 50px 0px 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

}

/* for tablet */
@media screen and (min-width:430px) and (max-width:768px) {

    /* nav */
    .nav1 {
        flex-direction: row;
    }

    .nav1-img {
        padding-left: 30px;
    }

    .nav1-title {
        padding-right: 20px;
    }


    /* goat */
    .goat-part {
        flex-direction: column-reverse;
    }

    .play, .download, .people {
        padding-left: 50px;
    }

    .goat-img {
        width: 500px;
        height: 500px;
    }

    .goat-part-1 {
        width: 710px;
        height: 700px;
    }

    /* online games part */
    .online-part-1 .section-title {
        padding-top: 0px;
    }

    .online-part-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-1 {
        padding-left: 60px;
    }

    .img-2 {
        padding-right: 40px;
    }

    .img-3 {
        padding-left: 60px;
    }

    .img-4 {
        padding-right: 40px;
    }

        /* play instantly part */
        .play-instantly{
            flex-direction: column;
        }
        .play-instantly-part1{
            padding-bottom: 0px;
        }
        .play-instantly-img{
            margin-top: 0px;
        }
}