@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* nav section styles */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1-img {
    width: 85px;
    height: 40px;
    padding-top: 40px;
    padding-left: 200px;
    padding-bottom: 40px;
    padding-right: 20px;
}

.nav1-title {
    padding-top: 13px;
    padding-bottom: 13px;
}

.g {
    color: #FF42A5;
    font-size: 2.8rem;
    font-weight: 700;
}

.amer {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav1 {
    display: flex;
    text-align: center;
}

.nav2 {
    display: flex;
    text-align: center;
    gap: 20px;
}

.nav2 p {
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.nav2-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 50px;
    margin-right: 200px;
}

.youtube, .insta {
    width: 30px;
    height: 24px;
}
.nav2-btn-det{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}